<meta charset="UTF-8">
<div>	
	<div class="panel panel-default">
		<div class="panel-body">
				<div class="form-group">
					<label for="nom">Nom</label> <input type="text"
						class="form-control" style="width: 400px"
						ng-model="consultationCtrl.consultation.nom" required />
				</div>
				<div class="form-group">
					<label for="prenom">Prenom</label> <input type="text"
						class="form-control" style="width: 400px"
						ng-model="consultationCtrl.consultation.prenom" required />
				</div>
				<button class="btn btn-success" type="submit">
					<span class="glyphicon glyphicon-ok"></span>
				</button>
		</div>
	</div>

	<table class="table">
		<tr>
			<th>Identifiant</th>
			<th>dtRendezVous</th>
			<th>durée</th>
			<th>Médecin</th>
			<th>Patient</th>
			<th>Spécialité</th>
			<th></th>
			<th></th>
		</tr>
		<tr ng-repeat="consultation in consultationCtrl.consultations">
			<td>{{consultation.id}}</td>
			<td>{{consultation.dtRendezVous | date:'dd/MM/yyyy:hh/mm'}}</td>
			<td>{{consultation.duree}}</td>
			<td>{{consultation.medecin}}</td>
			<td>{{consultation.patient}}</td>
			<td>{{consultation.specialite}}</td>
			<td><button class='btn btn-success btn-sm'
					ng-click="consultationCtrl.show(consultation.id)">
					<span class='glyphicon glyphicon-pencil'></span>
				</button></td>
			<td><button class='btn btn-danger btn-sm'
					ng-click="consultationCtrl.remove(consultation.id)">
					<span class='glyphicon glyphicon-trash'></span>
				</button></td>
		</tr>
	</table>
	
	<div class="panel panel-default" style="margin-top: 20px"
		ng-show="consultationCtrl.consultation">
		<div class="panel-heading">Consultation n° {{consultation.id}}</div>
		<div class="panel-body">
			<div>
				<p>Spécialité: {{consultation.specialite}}</p>
				<p>Médecin: {{consultation.medecin}}</p>
				<p>Patient: {{consultation.patient}}</p>
				<p>Date du rendez vous: {{consultation.dtRendezVous | date:'dd/MM/yyyy:hh/mm'}}</p>
				<p>Duree du rendez vous: {{consultation.duree}}</p>
				<p>Date de démarrage: {{consultation.dtDemarrage| date:'dd/MM/yyyy:hh/mm'}}</p>
				<p>Date de fin: {{consultation.dtFin| date:'dd/MM/yyyy:hh/mm'}}</p>
				<p>Rapport: {{consultation.rapport}}</p>
				<button class="btn btn-warning" ng-click="formationCtrl.cancel()">
					<span class="glyphicon glyphicon-arrow-left"></span>
				</button>
			</div>
		</div>
	</div>
</div>