<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Gestion des disponibilités</title>
</head>

<body >
	<div class=sidebar_dispo" style="width:25%"> 
	 <form name="secretaireDisponibiliteCtrl.disponibiliteForm"
				ng-submit="secretaireDisponibiliteCtrl.disponibiliteForm.$valid && secretaireDisponibiliteCtrl.save()" novalidate>
				<input type="hidden" ng-model="secretaireDisponibiliteCtrl.disponibilite.id" />
				<div class="form-group">
					<label for="type">Medecin</label> 
					<select class="form-control" style="width: 400px" ng-readonly="!secretaireDisponibiliteCtrl.ajout"
						ng-model="secretaireDisponibiliteCtrl.idmedecin" required>
						<option ng-repeat="medecin in secretaireDisponibiliteCtrl.listMedecins" value="{{idmedecin}}">{{idmedecin}}</option>	
					</select>
				</div>
				<div class="form-group">
					<label for="dtDebut">dtDebut</label> <input type="date"
						class="form-control" style="width: 200px"
						ng-model="secretaireDisponibiliteCtrl.disponibilite.dtDebut" required />
				</div>
				<div class="form-group">
					<label for="dtFin">dtFin</label> <input type="date"
						class="form-control" style="width: 200px"
						ng-model="secretaireDisponibiliteCtrl.disponibilite.dtFin" required />
				</div>
				<button class="btn btn-success" type="submit">
					<span class="glyphicon glyphicon-ok"></span>
				</button>
				<button class="btn btn-warning" ng-click="secretaireDisponibiliteCtrl.cancel()">
					<span class="glyphicon glyphicon-arrow-left"></span>
				</button>
		</form>
	</div>

	<div style="margin-left:25%">
			<!-- 	calendrier ici -->
	</div>
	
	
	
	
</body>


</html>